body {
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: rgb(206, 235, 247);
    margin: 6rem 3rem 3rem 3rem;
    color: midnightblue;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.output {
    margin: 4rem;

}

.tempBox {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

#country {
    padding-left: 2rem;
}

#city, #country {
    padding-right: 0.5rem;
    font-weight: bold;
}

#instruction {
    margin-top: 2rem;
    font-size: 1.5rem;
}

#place {
    font-size: 2.5rem;
}

#temp {
    font-size: 3rem;
}

#feels {
    padding-left: 1rem;
    font-size: 1.5rem;
}

#type {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#pic {
    background-color: steelblue;
    border-radius: 50px;
    margin-top: 1rem;
}

.nottsBody {
    background-color: #d2e4d2;
}

.weatherContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.weatherBoxes {
    border: solid 2px black;
    background-color: seagreen;
    padding: 5px;
    width: 15rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem
}

.date {
    text-align: center;
}

.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nottsImg {
    margin-top: 3rem;
    width: 115rem;
    height: 30rem;
    
}

form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

button {
    margin-left: 2rem;
}